@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "circularBold";
    src: url("../styles/fonts/CircularStd-Bold.ttf") format("truetype");
  }

  @font-face {
    font-family: "CircularMedium";
    src: url("../styles/fonts/CircularStd-Medium.ttf") format("truetype");
  }

  @font-face {
    font-family: "CircularLight";
    src: url("../styles/fonts/CircularStd-Light.ttf") format("truetype");
  }

  @font-face {
    font-family: "CircularItalic";
    src: url("../styles/fonts/CircularStd-Light Italic.otf") format("opentype");
  }
}

body {
  font-family: "CircularLight";
  margin: 0;
  height: 100%;
  background-color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
